body {
  background-image: url("m.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  font-family: 'Georgia', serif;
  
}



.container {
  max-width: 700px;
  margin-left: auto;
  margin-left: 47%;
  padding: 40px;
  text-align: left;
  font-size: 19px;
  line-height: 1.8;
  /* Removed background color and border-radius */
}

blockquote {
  font-style: italic;
  color: #251446;
  border-left: 4px solid #697fb9;
  padding-left: 12px;
  margin-left: 0;
}

.final {
  font-weight: bold;
  font-size: 1.1em;
  color: #535555;
  border-left: 5px solid #587e71;
  padding-left: 12px;
  margin-top: 20px;
}

.chapter-btn {
  display: inline-block;
  margin-left: 55px; /* ✅ moves slightly to the right */
  padding: 12px 20px;
  background-color: #101b5a;
  color: white;
  text-decoration: none;
  font-family: Georgia, serif;
  font-size: 15px;
  border-radius: 8px;
  box-shadow: 0 4px #2c1b17;
  transition: transform 0.2s, box-shadow 0.2s;
}


.chapter-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px #6884b8; /* deeper 3D effect on hover */
  background-color: #6a7bc7; /* slightly lighter dark chocolate on hover */
}


.audio-player p {
  margin: 0 0 4px 0;
  font-size: 14px;
  color: #000000;
  font-family: 'Cormorant Garamond', serif;
}

.audio-player {
  position: fixed;
  top: 130px;           /* distance from top of the page */
  left: 220px;          /* distance from left of the page */
  
  text-align: left;
  background-color: rgba(101, 145, 105, 0.5);
  padding: 8px;
  border-radius: 10px;
  width: fit-content;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(2px);
}



/* Small and neat audio control */
.audio-player audio {
  width: 200px;
  height: 23px;
}
