body {
    background-image: url("navyblue.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    
    
}


  .intro-text {
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: rgb(187, 178, 178);
    font-size: 38px;
    font-weight: bold;
  }
  
 

.intro-text1 {
  position: absolute;
  top: 90%;
  left: 20%;
   transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap; /* 💥 This prevents line break */
  text-shadow: #cedbdb;
}
.profile-pic {
  position: absolute;
  top: 150%;
  left: 330%; /* Distance from the right edge */
  transform: translateY(-50%);
 
  border-radius: 70px; /* Optional: smooth edges */
  box-shadow: 0 4px 8px rgba(12, 16, 39, 0.4); /* Optional: subtle shadow */

  width: 300px;       /* or any size you like */
  height: 300px;      /* make width & height equal */
  border-radius: 50%; /* 💫 This makes it round */
  object-fit: cover; 
}
.intro-text2 {
  position: absolute;
  top: 150%;  /* Adjust this based on where you want it */
  left: 80%;
  transform: translate(-50%, -50%);
  color: rgb(162, 162, 168);
  font-size: 20px;
  font-weight: normal;
  
  width: 400px;
  line-height: 1.5;
}
.button-group {
  position: absolute;
  top: 320%;
  left: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 30px;
}

.btn {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  
}

.btn:hover {
  background-color: #00ffff;
  color: #000;
}
